C:/Users/Paula/OneDrive/Work/Courses/course_2025_2026/MLSTAT/hackaton25/winter_hackaton25/.Rproj.user/shared/notebooks/EE93C7AA-00_intro_hackaton/1/s/c4we2b0w8edwk